/* Import */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@600&display=swap");

/* Common Variables */
:root {
  --comClr: rgba(166, 176, 231, 0.712);
}

/* Universal Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  position: relative;
  width: 100%;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #234;
  padding: 15px 0px;
}

/* Header > TitleDiv */
.header .titleDiv {
  margin-left: 20px;
}

/* Header > TitleDiv > H1 */
.header .titleDiv h1 {
  color: #fff;
  font-weight: bold;
}

/* Header > searchDiv */
.header .searchDiv {
  margin-right: 10px;
}

/* Header > searchDiv > input:text */
.header .searchDiv form input[type="text"] {
  height: 40px;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: 500;
  font-size: 14px;
  outline: none;
  border: none;
}

.header .searchDiv form input[type="text"]::placeholder {
  color: rgb(204, 201, 201);
  font-weight: bold;
}

/* Container */
.container {
  margin: 20px auto;
  width: 960px;
}

/* Container > addSection > addSectionTitle*/
.container .addSection .addSectionTitle {
  margin: 10px 0px 5px;
}

/* Container > addSection > addSectionTitle h2*/
.container .addSection .addSectionTitle h2 {
  font-weight: 600;
  font-size: 22px;
}

/* Container > addSection > addSectionInputDiv */
.container .addSection .addSectionInputDiv {
  border: 2px solid;
  border-color: var(--comClr);
  border-radius: 6px;
  padding: 15px;
  margin: 5px 0px;
}

/* Container > addSection > addSectionInputDiv > form */
.container .addSection .addSectionInputDiv form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Container > addSection > addSectionInputDiv > form > input#addNoteTitle */
.container .addSection .addSectionInputDiv form input#addNoteTitle {
  margin: 6px 0px;
  width: 100%;
  border: 2px solid;
  border-color: var(--comClr);
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

/* Container > addSection > addSectionInputDiv > form > textarea */
.container .addSection .addSectionInputDiv form textarea {
  margin: 6px 0px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  height: 100px;
  border: 2px solid;
  border-color: var(--comClr);
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

/* Container > addSection > addSectionInputDiv > form > p */
.container .addSection .addSectionInputDiv form p {
  font-weight: bold;
}

/* Container > addSection > addSectionInputDiv > form > button */
.container .addSection .addSectionInputDiv form button {
  background-color: #023dfe;
  outline: none;
  padding: 7px 10px;
  border: none;
  color: #fff;
  border-radius: 3px;
}

/* hr */
hr {
  border-top: 1px solid var(--comClr);
}

/* Container > showNotesSection */
.container .showNoteSection {
  margin-top: 15px;
}

/* Container > showNotesSection > showNoteTitle > ... */
.container .showNoteSection .showNoteTitle p {
  padding: 5px 0px;
  font-size: 20px;
  font-weight: bold;
}

/* Container > showNotesSection > showNoteField > ... */
.container .showNoteSection .showNoteField {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, auto));
  grid-auto-rows: auto;
  grid-gap: 4px;
}

.container .showNoteSection .showNoteField p {
  font-size: 14px;
  color: rgb(114, 97, 97);
  word-wrap: break-word;
}

/* Show note */
.NotesDiv {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid;
  width: inherit;
}

.container .NotesDiv p:first-child {
  font-weight: bold;
  font-size: 18px;
}

.container .NotesDiv p:nth-child(2) {
  color: #000;
  margin: 10px 0px;
}

.container .NotesDiv button {
  background-color: #0279fe;
  outline: none;
  padding: 7px 10px;
  border: none;
  color: #fff;
  border-radius: 3px;
  margin-right: 5px;
}

/* Update Div */
.updateSectionDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.visibleDiv {
  display: flex;
}

.updateSectionDiv form {
  background-color: #fff;
  position: sticky;
  top: 0;
  transform: translateY(100px);
  margin: 0 auto;
  width: 800px;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.288);
}

.updateSectionDiv form .update-title {
  display: flex;
  justify-content: space-between;
}

.updateSectionDiv form .update-title p {
  font-weight: bold;
  font-size: 18px;
  color: rgb(114, 97, 97);
}

.updateSectionDiv form input#editNoteTitle {
  display: block;
  width: 300px;
  min-width: 100%;
  margin: 6px 0px;
  border: 2px solid;
  border-color: var(--comClr);
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

/* Container > addSection > addSectionInputDiv > form > textarea */
.updateSectionDiv form textarea {
  display: block;
  width: 300px;
  min-width: 100%;
  margin: 6px 0px;
  max-width: 50%;
  min-height: 100px;
  height: 100px;
  border: 2px solid;
  border-color: var(--comClr);
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

/* Container > addSection > addSectionInputDiv > form > button */
.updateSectionDiv form button {
  background-color: #0279fe;
  width: 100%;
  outline: none;
  padding: 7px 10px;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.visibleDiv {
  display: inline-flex;
}

/* crossbtn */

div.crossBtn {
  position: relative;
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #000;
  user-select: none;
  transition: all 0.15s ease-in-out;
}

div.crossBtn:hover {
  background-color: #0279fe;
  cursor: pointer;
}

div.crossBtn::before,
div.crossBtn::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #000;
}

div.crossBtn::before {
  transform: rotate(45deg);
}

div.crossBtn::after {
  transform: rotate(-45deg);
}

div.crossBtn:hover::before,
div.crossBtn:hover::after {
  background-color: #fff;
}

@media (max-width: 960px) {
  /* Container > addSection > addSectionTitle h2*/
  .container .addSection .addSectionTitle h2 {
    text-align: center;
  }
  .container {
    width: 90%;
    margin: 0px auto;
  }

  .container .showNoteSection .showNoteField {
    grid-template-columns: repeat(2, minmax(150px, auto));
  }

  /* Container > showNotesSection > showNoteTitle > ... */
  .container .showNoteSection .showNoteTitle p {
    text-align: center;
  }

  /* Container > addSection > addSectionInputDiv > form > button */
  .container .addSection .addSectionInputDiv form button {
    width: 100%;
  }

  .updateSectionDiv form {
    width: 60%;
    height: 250px;
  }
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
  }

  .header .titleDiv {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .container .showNoteSection .showNoteField {
    grid-template-columns: 1fr;
  }

  /* Header > searchDiv */
  .header .searchDiv {
    margin: 0px;
  }
  .header .titleDiv h1 {
    margin: 0;
  }

  .updateSectionDiv form {
    width: 90%;
    height: 250px;
  }
}
